* {
    font-family: Roboto;
}

.login-wrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
}

.wrapper {
    display: flex;
}

.login-img {
    height: 100%;
    max-width: 100%;
}

.login-left {
    height: 100vh;
}

.logo {
    color: #e0372b;
    letter-spacing: 9px;
    font-size: 60px;
    font-weight: 500;
    padding-bottom: 50px;
    padding-top: 30px;
}

.sign {
    color: #444D63;
    font-weight: 410;
    padding-bottom: 20px;
}